<strong>Ola, {{ student }}</strong>
<p>Sua pergunta foi respondida!</p>
<p>Veja abaixo os detalhes:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Data da pergunta: </strong> {{ questionDate }} <br />
  <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data da resposta: </strong> {{ answerDate }} <br />
</p>
